= content_for :header do
  %h1 New Sub Category

= link_to 'Categories', admin_categories_path
= breadcrumbs(@category, @sub_category_parent)

= form_for [:admin, @category, @sub_category] do |f|
  .form-group.form-group-label
    = f.label :name
    = f.text_field :name, class: 'form-control'

    = f.hidden_field :parent_id, value: @sub_category_parent.id

  = f.submit 'Save', class: 'btn btn-green'
