.container
  .row
    .col-md-12
      %h1.text-center SHOP
      = render 'shared/navigation'

- if !@category.nil?
  .banner-image{style: "background-image: url(#{@category.banner.large})"}

.container
  .row
    .col-md-12
      = product_breadcrumbs @sub_category
      .products-grid
        - @products.each do |product|
          .product-box
            = link_to product_path(product), class: 'product-image-wrapper' do
              = image_tag product.image, class: 'product-image'
            .product-information
              .product-name
                = product.name
              .product-price
                = number_to_currency(product.price)
