.container
  .row
    .col-md-12
      %h1.text-center SHOP
      = render 'shared/navigation'

- if !@category.nil?
  .banner-image{style: "background-image: url(#{@category.banner.large})"}

.container
  .row
    .col-md-3
      .card
        .card-main
          .card-inner
            %h2.card-heading Categories
            = form_tag products_path, method: :get do
              %ul
                %li
                  = check_box_tag("sub_category_ids[]", @category.root.id)
                  = @category.name
                  = sub_category_tree_filter(@category, @category.root, params[:sub_category_ids])
              %hr
              = submit_tag 'Search', class: 'btn'

    .col-md-9
      = product_breadcrumbs @sub_category
      .products-grid
        - @products.each do |product|
          .product-box
            = link_to product_path(product), class: 'product-image-wrapper' do
              = image_tag product.image, class: 'product-image'
            .product-information
              .product-name
                = product.name
              .product-price
                = humanized_money_with_symbol product.price

      .text-center
        = paginate @products
