= content_for :header do
  %h1 Edit Category

.row
  .col-md-8
    = render 'shared/errors', errors: @category.errors if @category.errors
    = render 'form', category: @category

  .col-md-4
    .card
      .card-main
        .card-inner
          %h2.card-heading Category Tree
          %p Click on the + button next to the sub category to create a child sub category

          = @category.root.name
          = link_to '+', new_admin_category_sub_category_path(@category, parent: @category.root)
          %br
          = sub_category_preview(@category, @category.root)
