= content_for :header do
  %h1 Categories

.pull-right.margin-bottom
  = link_to 'Add', new_admin_category_path, class: 'btn btn-green waves-attach waves-circle'

%table.table
  %thead
    %tr
      %th Banner
      %th Name
      %th Position
      %th
  %tbody
    - @categories.each do |category|
      %tr
        %td= image_tag(category.banner.thumb)
        %td= category.name
        %td= category.position
        %td= link_to 'Edit', edit_admin_category_path(category)
        %td= link_to 'Destroy', admin_category_path(category),
          method: :delete,
          data: { confirm: "Are you sure?" }

= paginate @categories
