= render 'shared/errors', errors: product.errors if product.errors
= form_for [:admin, product] do |f|
  .form-group.form-group-label
    = f.label :name
    = f.text_field :name, class: 'form-control'

  .form-group.form-group-label
    = f.label :description
    = f.text_area :description, class: 'form-control'

  .form-group.form-group-label
    = f.label :price
    = f.text_field :price, class: 'form-control'

  .form-group.form-group-label
    = f.label :sub_category
    = f.select :sub_category_ids, SubCategory.all.collect {|x| [x.nested_names, x.id]}, {}, multiple: true, class: 'form-control'
    %p.help-block To select multiple categories, hold command or ctrl while clicking the item

  .form-group.form-group-label
    = f.label :image
    %br
    = image_tag product.image
    = f.file_field :image


  = f.submit 'Save', class: 'btn btn-green'
  &nbsp;&nbsp;&nbsp;
  = link_to 'Cancel', admin_products_path, class: 'btn-red btn-flat'
