= form_for [:admin, product] do |f|
  .form-group.form-group-label
    = f.label :name
    = f.text_field :name, class: 'form-control'

  .form-group.form-group-label
    = f.label :description
    = f.text_area :description, class: 'form-control'

  .form-group.form-group-label
    = f.label :price
    = f.number_field :price, class: 'form-control'

  .form-group.form-group-label
    = f.label :sub_category
    = f.collection_select :sub_category_id, SubCategory.all, :id, :name

  .form-group.form-group-label
    = f.label :image
    = f.file_field :image

  = f.submit 'Save', class: 'btn btn-green'
  = link_to 'Cancel', admin_products_path, class: 'btn-red btn-flat'
