= content_for :header do
  %h1 Products

.pull-right.margin-bottom
  = link_to 'Add', new_admin_product_path, class: 'btn btn-green waves-attach waves-circle'

%table.table
  %thead
    %tr
      %th Image
      %th Name
      %th Description
      %th Price
      %th Categories
      %th
  %tbody
    - @products.each do |product|
      %tr
        %td= image_tag(product.image.thumb)
        %td= product.name
        %td= product.description
        %td= product.price
        %td
          - product.sub_categories.each do |sub_category|
            = sub_category.name
        %td= link_to 'Edit', edit_admin_product_path(product)
        %td= link_to 'Destroy', admin_product_path(product),
          method: :delete,
          data: { confirm: "Are you sure?" }
