.container
  .row
    .col-md-12
      %h1.text-center SHOP
      = render 'shared/navigation'

.banner-image{style: "background-image: url(#{@category.banner.large})"}
%h2.text-center= @category.name

.container
  .row
    .col-md-12
      .products-grid
        - @products.each do |product|
          .product-box
            = image_tag product.image, class: 'product-image'
            .product-name
              = product.name
            .product-price
              = humanized_money_with_symbol product.price
