.container
  .row
    .col-md-12
      %h1.text-center SHOP
      = render 'shared/navigation'

.container
  .row
    .col-md-3
      .card
        .card-main
          .card-inner
            %h2.card-heading Categories
            = form_tag '', method: :get do
              = category_tree_filter(@categories, params[:sub_category_ids])
              %hr
              = submit_tag 'Search', class: 'btn'

    .col-md-9
      .products-grid
        - @products.each do |product|
          .product-box
            = link_to product_path(product), class: 'product-image-wrapper' do
              = image_tag product.image, class: 'product-image'
            .product-information
              .product-name
                = product.name
              .product-price
                = number_to_currency(product.price)
      .text-center
        = paginate @products
