.container
  .row
    .col-md-12
      %h1.text-center SHOP
      = render 'shared/navigation'

  .row.product-detail
    .col-md-4.col-md-offset-2
      = image_tag @product.image
    .col-md-4
      - @sub_categories.each do |sub_category|
        = product_breadcrumbs(sub_category)
      %h3.product-name= @product.name
      %p.product-price= humanized_money_with_symbol @product.price
      %p.product-description= @product.description
