<!DOCTYPE html>
<html>
<head>
  <title>EcommerceTest - Admin</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1>Shop Admin</h1>
  <%= render 'shared/admin/navigation' %>
  <%= yield %>

</body>
</html>
